    * {
        margin-top: 20px;
        color: white;
    }
    
    body {
        background-color: black;
    }
    
    nav {
        height: 60px;
        justify-content: center;
        width: 95%;
        text-align: center;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
        color: white;
        border-top-right-radius: 40%;
        text-shadow: 2px 2px 2px black, 4px 4px 2px rgb(67, 67, 67)
    }
    
    header {
        margin-top: 30px;
        text-align: center;
    }
    
    #listaNav {
        display: inline;
        justify-content: center;
    }
    
    .contNav {
        display: inline-block;
        width: 15%;
        margin-left: 5%;
        margin-top: 20px;
        border: solid 2px rgb(73, 73, 73);
        border-top-right-radius: 40%;
    }
    
    .contNav:hover {
        border: solid 2px rgb(27, 26, 26);
        background-color: #475f77;
    }
    
    #contenedorFotoYSaludo {
        margin-top: 70px;
        position: relative;
        width: 100%;
    }
    
    #divFotoPerfil {
        position: absolute;
        width: auto
    }
    
    #fotoPerfil {
        left: 5%;
        width: 20%;
        border-radius: 40%;
        position: relative;
        border: 2px solid grey;
        border-color: rgba(77, 77, 77, 0.6);
    }
    
    #fotoPerfil:hover {
        border: 2.3px solid rgb(88, 84, 84);
    }
    
    #divSaludo {
        width: 100%;
        height: 400px;
        top: 0;
        right: 0;
        background-image: center;
        background-size: cover;
    }
    
    #saludo {
        position: absolute;
        /* text-align: center; */
        margin-top: 300px;
        margin-left: 450px;
        /* font-family: 'Arsenal', sans-serif; */
        font-family: 'Dancing Script', cursive;
        font-size: 2.2rem;
        text-shadow: 2px 2px 2px black, 4px 4px 2px rgb(67, 67, 67);
    }
    
    h1 {
        color: white;
    }
    
    #divSkills {
        position: static;
        width: 100%;
        height: fit-content;
        margin-right: auto;
    }
    
    ul {
        display: inline;
        justify-content: center;
    }
    
    #tituloSkills {
        font-family: 'Arsenal', sans-serif;
    }
    
    .listaSkills {
        display: inline-block;
        justify-content: center;
        width: 8%;
        margin: 30px;
        padding-right: 80px;
    }
    
    .logos {
        background-color: rgba(255, 255, 255, 0.761);
    }
    
    .logosContact {
        background-color: rgba(255, 255, 255, 0.761);
    }
    
    .logosContact:hover {
        background-color: white;
    }
    
    #divContacto {
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }
    
    #tituloContact {
        font-family: 'Arsenal', sans-serif;
    }
    
    .separador {
        margin-top: 60px;
        height: 60px;
        justify-content: center;
        width: 75%;
        text-align: left;
        text-shadow: 2px 2px 2px black, 4px 4px 2px rgb(67, 67, 67);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
        color: white;
        border-top-right-radius: 40%;
        font-size: 2rem;
    }
    
    footer {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    
    #infoDelFooter {
        font-family: 'Arsenal', sans-serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Electrolize', sans-serif;
    }
    
    label {
        padding-right: 10px;
        font-size: 1rem;
    }
    /* animaciones de los circulos para poner en los separadores de skills y contact.*/
    
    .circulos {
        position: relative;
        display: inline;
        margin-right: 5px;
    }
    
    #listaCirculos {
        position: relative;
        margin-right: 5px;
    }
    
    .circulos-de-colores {
        padding: 3rem;
        height: 8px;
        width: 8px;
        background-color: rgb(2, 2, 2);
        border-radius: 50%;
        font: 2rem bold;
        align-items: center;
        color: white;
        display: inline-flex;
        justify-content: center;
        animation: cambio-de-color 3.5s ease infinite alternate;
    }
    
    @keyframes cambio-de-color {
        from {
            transform: scale(0.8, 0.8);
            color: rgb(106, 105, 105);
            background-color: rgb(171, 171, 171);
        }
        to {
            transform: scale(0.5, 0.5);
            color: rgb(162, 162, 157);
            background-color: rgb(55, 55, 55);
        }
    }
    /* boton flotante de whatsapp */
    
    .whatsapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 40px;
        background-color: #25d366;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        text-align: center;
        font-size: 50px;
        z-index: 100;
    }
    
    .whatsapp-icon {
        margin-top: 3px;
    }
    /* borde animado de skills */
    
    .item {
        background-color: rgb(0, 0, 0);
        /* line-height: 4;
    padding: 0 2em;
    margin: 1.5em; */
        color: #fff;
        position: relative;
    }
    
    .item:before {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width:0;
        height: 3px;
        background-color: #fff;
        transition: all .3s;
    }
    
    .item:hover:before {
        width: 100%;
    }
    
    .tres:before {
        left: 50%;
    }
    
    .tres:hover:before {
        left: 0;
    }
 